@import 'tailwindcss';
@import './fonts.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

@theme {
    --font-sans: 'League Spartan', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary-500: #4D8299;
    --color-primary-600: #3C748C;
    --color-primary-700: #31647a;

    --color-muted: #64748B;

    --color-success: #4eb569;
    --color-warning: #e6bd09;
    --color-error: #c93636;
}
